
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <h2 class="mb-3">Adventures with Akshay: Explore Our Blog"</h2>

        <div class="col-lg-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/fort.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Kangra Fort</h5>
                  <p class="card-text">"Explore Kangra Fort, a historic marvel nestled in the Himalayan foothills. With its ancient architecture and panoramic views, it stands as a testament to the region's rich cultural heritage and strategic significance"</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/stadium.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Dharmshala Stadium</h5>
                  <p class="card-text">Discover Dharamshala Cricket Stadium, nestled in the Himalayan foothills. A picturesque venue renowned for its breathtaking views and spirited cricket matches, blending natural beauty with sporting excellence..</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        
        <div class="col-lg-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/bhagsu.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Bhagsu Waterfal</h5>
                  <p class="card-text">Discover Bhagsu Waterfall, a serene natural wonder near Dharamshala. Surrounded by lush greenery, it offers a peaceful retreat and stunning views, making it a favorite spot for nature enthusiasts.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
                </div>

                <div class="col-lg-4 mb-">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/Monestry.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Tibtean Monestry </h5>
                          <p class="card-text">Visit Dharamshala Monastery, a serene refuge in the Himalayas. Immerse yourself in Tibetan Buddhist traditions amidst prayer flags and tranquil surroundings.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                





                


            </div>
        </div>
    </div>
</div>

{% endblock %}
